VITE_FIREBASE_API_KEY=sua_api_key_aqui
VITE_FIREBASE_AUTH_DOMAIN=nexa-service-tc.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nexa-service-tc
VITE_FIREBASE_STORAGE_BUCKET=nexa-service-tc.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=1234567890
VITE_FIREBASE_APP_ID=1:1234567890:web:123456
